.error input, .error textarea {
    border: 1px red solid;
    outline: red;
}
.error span {
    color: red;
}

.formSummaryError {
    border: 1px red solid;
    padding: 5px;
    color: red;
    width: 250px;
}